<nav class="nav-primary" role="navigation" >
    <ul>
          <li {% if page.url == "/index.html" %} class="active" {% endif %} >
          <a href="/index.html">Home</a></li>
          <li {% if page.url == "/resume.html" %} class="active" {% endif %} >
          <a href="/vita.html">Resume</a></li>
          <li {% if page.url == "/research.html" %} class="active" {% endif %} >
          <a href="/research.html">Research</a></li>
          <li {% if page.url == "/tools.html" %} class="active" {% endif %} >
          <a href="/teaching.html">Tools</a></li>
    </ul>
</nav>